$sectionColor: #5C5954;
$codeColor: #a35a00;
$codeFont: Comic Sans, Comic Sans MS, cursive;
$typeColor: #aaaaaa;
$typeFont: Consolas, Lucida Console, Monaco, monospace;

body {
  font-family: 'Open Sans', sans-serif;
}

ts-doclet-menu {
  .menuIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;

    button {
      background-color: $codeColor;
    }
  }

  .menuContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em;
    border-left: solid 2px $sectionColor;
    border-bottom: solid 2px $sectionColor;
    background: white;
    transition: .3s linear all;
    z-index: 10;

    &.ng-hide {
      top: -100%;
      transition: .6s linear all;
    }

    .guide {
      a {
        color: $codeColor;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: bold;
      }
    }

    .menuSection {
      margin-top: 15px;

      .sectionName {
        font-weight: bold;
      }

      .menuItem {
        .itemName {
          a {
            color: $sectionColor;
          }
        }
      }
    }
  }
}

ts-doclet {
  .name {
    color: $codeColor;
  }

  .type {
    color: $typeColor;
    font-family: $typeFont;
  }

  .header {
    padding: 0 0.6em;

    .name {
      font-size: 1.8em;
      font-weight: bold;
    }

    .description {
      font-size: 1.2em;

      p {
        margin-top: 5px;
      }
    }
  }

  .members {
    padding: 0 0.6em;

    .title {
      margin-bottom: 15px;
      border-bottom: solid 2px $sectionColor;
      color: $sectionColor;
      font-size: 1.2em;
      font-weight: bold;
      font-variant: small-caps;
    }

    .member {
      .name {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        font-family: $codeFont;
      }

      .type {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2em;
        font-weight: bold;
      }

      .description {
        font-size: 1em;

        p {
          margin-top: 5px;
        }
      }
    }
  }

  ts-doclet-class {
  }

  ts-doclet-enum {
  }
}

@import "markdown";
@import "menuIcon";
