.markdown {
  padding: 0 0.6em;

  h1 {
    margin: 10px 0;
    font-size: 1.8em;
    font-weight: bold;
    color: $codeColor;
  }

  h2 {
    margin: 20px 0 10px;
    color: $sectionColor;
    font-size: 1.6em;
    font-weight: bold;
  }

  a {
    color: $codeColor;
    font-family: $codeFont;
    text-decoration: none;
  }

  ol {
    margin: 0 0 0 3em;
    padding: 0;
    list-style-type: none;
    counter-reset: li-counter;

    & > li {
      position: relative;
      min-height: 3em;
      margin-bottom: 20px;
      padding-left: 0.5em;
      border-left: 2px solid #CCCCCC;
      font-weight: bold;

      &:before {
        content: counter(li-counter);
        position: absolute;
        top: 0;
        left: -1em;
        width: 0.8em;
        font-size: 3em;
        line-height: 1;
        font-weight: bold;
        text-align: right;
        color: #464646;
        counter-increment: li-counter;
      }
    }
  }

  ul {
    margin: 0 0 0 1.5em;
    padding: 0;
    list-style-type: none;

    & > li {
      position: relative;
      margin: 5px 0;
      font-weight: normal;

      &:before {
        content: "-";
        position: absolute;
        top: 0;
        left: -1em;
        width: 0.8em;
        font-size: 1.4em;
        line-height: 1;
        font-weight: bold;
        text-align: right;
        color: #464646;
      }
    }
  }

  pre {
    margin: 0 0 10px;
    padding: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
  }
}
