<ion-view view-title="Formie">
    <ion-content>
        <div class="row">
            <div class="col col-33 docsSection">
                <h3 class="sectionTitle">Learn</h3>
                <!--<iframe ng-src="docs/index.html"></iframe>-->
                <ts-doclet-menu></ts-doclet-menu>
                <div ui-view></div>
            </div>
            <div class="col col-33 jsonSection">
                <h3 class="sectionTitle">Play</h3>
                <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="form.str"></ui-codemirror>
            </div>
            <div class="col col-33 formSection">
                <h3 class="sectionTitle">View</h3>

                <ts-error-message message="form.err" ng-if="form.err"></ts-error-message>

                <div class="formView" ng-if="form.obj && !form.err">
                    <div class="formNav row">
                        <div class="left col col-25">
                            <button class="button button-clear"
                                    ng-click="form.obj.prevField()"
                                    ng-disabled="!form.obj.hasPrevField()">
                                <i class="ion-ios-arrow-back"></i> Back
                            </button>
                        </div>

                        <div class="center col">
                            <div class="button button-clear">
                                {{form.obj.title}}
                            </div>
                        </div>

                        <div class="right col col-25">
                            <button class="button button-clear"
                                    ng-click="form.obj.nextField()"
                                    ng-disabled="!form.obj.currentField || (form.obj.currentField && !form.obj.currentField.valid())">
                                <i class="ion-ios-arrow-forward"></i> Next
                            </button>
                        </div>
                    </div>

                    <ts-form form="form.obj" ng-show="form.obj.currentField"></ts-form>
                    <div class="formComplete" ng-show="!form.obj.currentField">
                        <i class="ion-checkmark"></i>Form Complete
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
